body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    color: #2d3748;
    flex-direction: column;
  }
  
  /* Centering the main content */
  main {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 20px;
    background-color: #f8f9fa;;
  }
  
  /* Layout Styles */
  .header {
    background-color: rgb(32, 127, 178);
    color: white;
    padding: 25px 0;
    text-align: center;
  }
  
  
  /* Component Styles */
  .search-input {
    width: 100%;
    max-width: 500px; /* Makes the search bar not too wide */
    padding: 10px;
    margin: 20px auto; /* Center the search bar */
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ececec;
  }
  
  .bookSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 0;
    margin-top: 25px;
    box-sizing: border-box;
  
    .bookCard {
      width: calc(33.33% - 20px);
      margin-bottom: 20px;
      border: 1px solid #4c51bf; /* Lys grå ramme */
      border-radius: 10px;
      padding: 20px;
      box-sizing: border-box;
      background-color: #f3f1f1; /* Hvit bakgrunn */
  
      h3 {
        margin-top: 10px;
      }
  
      p {
        margin: 15px 0;
         /* Mørk grå tekstfarge */
      }
    }
  }
  
  
  .searchButton {
    background-color: #4c51bf; /* Lilla bakgrunnsfarge */
    color: #fff; /* Hvit tekstfarge */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin: 15px;
  }
  
  .amazonButton{
    background-color: #4c51bf; /* Lilla bakgrunnsfarge */
    color: #fff; /* Hvit tekstfarge */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  
  /* Responsive Design */
  @media only screen and (max-width: 600px) {
    .book-list {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .book-list {
      grid-template-columns: 1fr;
    }
  
    .header, .footer {
      padding: 10px 0;
    }
  
    .search-input {
      padding: 10px;
      margin: 10px auto;
    }
  }
  
  